@using LumosProtobuf.Timecode

<div>
	@DmxControlInstance.IPEndPoint

	<button @onclick="OnClickRemove">Remove</button>

	<br />

	<ul>
		@foreach (var ts in DmxControlInstance.TimecodeShows)
		{
			<li>@ts.Name @(DmxControlInstance.RunningTimecodeShows.Contains(ts.Name) ? "(running)" : null)</li>
			<button @onclick="() => OnClickStart(ts.Name)">Start</button>
		}
	</ul>

</div>

@code {

	[Parameter]
	public DmxControlInstance DmxControlInstance { get; set; } = null!;

	[Parameter]
	public EventCallback OnClickRemove { get; set; }

	protected async Task OnClickStart(string tsName)
	{
		await DmxControlInstance.StartTimecodeShow(tsName);
	}
}
