@using DmxControlUtilities.Web.Models

<div class="preset-button" style="background-color: @(Preset.HtmlColor);" @onclick="@(async () => await OnClick.InvokeAsync(Preset))">
    <span>
    @Preset.Name
    </span>
</div>

@code {

    [Parameter]
    public PresetModel Preset { get; set; } = null!;

    [Parameter]
    public EventCallback<PresetModel> OnClick { get; set; }
}
