@page "/groups"

@using DmxControlUtilities.Web.Models
@using LumosProtobuf
@using MComponents.MSelect

<PageTitle>Groups</PageTitle>

@inject FixtureService FixtureService
@inject DmxControlInstanceService DmxControlInstanceService


<div>

    <span>Gruppe:</span>

    <MSelect @bind-Value="@_selectedGroup" Property="@nameof(DeviceGroupDescriptor.Name)" Options="_groups" />

    <br />

    <Slider @bind-Value="_dimmerValue" @bind-Value:after="OnSliderChanged" />

    <br />

    <div class="preset-container">

        @foreach (var preset in _presets)
        {
            <PresetButton Preset="preset" OnClick="OnPresetButtonClicked" />
        }

    </div>

    <br />

    <button @onclick="RefreshPresets">Refresh Presets</button>
    <button @onclick="Black">Black</button>
    <button @onclick="ClearProgrammer">Clear</button>

</div>

@code {

    protected List<DeviceGroupDescriptor> _groups = new();
    protected DeviceGroupDescriptor? _selectedGroup;


    protected List<PresetModel> _presets = new();
    protected int _dimmerValue = 80;

    protected DmxControlInstance _dmxControlInstance = null!;


    protected override async Task OnInitializedAsync()
    {
        _dmxControlInstance = DmxControlInstanceService.Instances.FirstOrDefault();

        if (_dmxControlInstance == null)
            return;

        _groups = _dmxControlInstance.DeviceGroups;

        _selectedGroup = _groups.FirstOrDefault(g => g.Name.ToLower().StartsWith("main")) ?? _groups.FirstOrDefault();

        _presets = await _dmxControlInstance.GetPresets();
    }


    protected async Task OnPresetButtonClicked(PresetModel preset)
    {
        if (_selectedGroup == null)
        {
            return;
        }

        await _dmxControlInstance.SetProgrammerColor(_selectedGroup.Id, preset.Color);

    }

    protected async Task OnSliderChanged()
    {
        if (_selectedGroup == null)
        {
            return;
        }

        await _dmxControlInstance.SetProgrammerDimmer(_selectedGroup.Id, _dimmerValue);
    }

    protected async Task RefreshPresets()
    {
        _dmxControlInstance.PresetModels = null;
        _presets = await _dmxControlInstance.GetPresets();
    }

    protected async Task Black()
    {
        if (_selectedGroup == null)
        {
            return;
        }

        await _dmxControlInstance.SetProgrammerDimmer(_selectedGroup.Id, 0);
    }

    protected async Task ClearProgrammer()
    {
        await _dmxControlInstance.ClearProgrammer();
    }

}
