@page "/spots"
@using DmxControlUtilities.Web.Models
@using System.Numerics

<PageTitle>Spots</PageTitle>

@inject FixtureService FixtureService
@inject DmxControlInstanceService DmxControlInstanceService


<div id="spots-container">

    <div id="floor"
         @onmousedown="OnMouseDown"
         @onmouseup="OnMouseUp"
         @onmousemove="OnFloorClicked"
         @onmouseleave="OnMouseUp"
         @ontouchstart="OnTouchStart"
         @ontouchend="OnTouchEnd"
         @ontouchmove="OnTouchMove"
         @ontouchcancel="OnTouchEnd">

        <div id="target" style="@($"top: {TargetY - 30}px; left: {TargetX - 30}px")"></div>

        @foreach (var fixture in _fixtures)
        {
            <div class="fixture" style="@($"top: {fixture.Y * ScaleY}px; left: {fixture.X * ScaleX}px")">
                <div class="icon"></div>
                <span class="label">@fixture.Name</span>
            </div>
        }

    </div>


    @*
    <ul>

        @foreach (var fixture in _fixtures)
        {
            <div>
                <span>@fixture.Name</span>
                <input @bind-value="fixture.X" />
                <input @bind-value="fixture.Y" />
                <input @bind-value="fixture.Z" />
            </div>
        }

    </ul>
    *@


</div>

@code {

    protected float ScaleX = 100;
    protected float ScaleY = 100;

    protected int TargetX;
    protected int TargetY;

    protected bool _mouseDown;

    protected List<Fixture> _fixtures = new();
    protected DmxControlInstance _dmxControlInstance;

    protected override async Task OnInitializedAsync()
    {
        _dmxControlInstance = DmxControlInstanceService.Instances.First();
        _fixtures = await _dmxControlInstance.GetDevices();

        _fixtures = _fixtures.Where(f => f.Name.Contains("Position")).ToList();
    }


    protected void OnMouseDown()
    {
        _mouseDown = true;
    }

    protected void OnMouseUp()
    {
        _mouseDown = false;
    }

    protected void OnTouchStart()
    {
        _mouseDown = true;
    }

    protected void OnTouchEnd()
    {
        _mouseDown = false;
    }

    protected void OnTouchMove(TouchEventArgs args)
    {
        if (!_mouseDown || args.Touches.Length == 0)
            return;

        var touch = args.Touches[0];

        TargetX = (int)touch.ClientX;
        TargetY = (int)touch.ClientY;

        Update();
    }

    protected void OnFloorClicked(MouseEventArgs args)
    {
        if (!_mouseDown)
            return;

        TargetX = (int)args.OffsetX;
        TargetY = (int)args.OffsetY;

        Update();
    }

    protected void Update()
    {
        var xPercent = TargetX / 1000.0;
        var yPercent = TargetY / 1000.0;

        var targetPosX = xPercent * 360 - 180;
        var targetPosY = yPercent * 360 - 180;

        Console.WriteLine(targetPosY);

        // Console.WriteLine("------");
        //	Console.WriteLine(targetPosX);
        //	Console.WriteLine(targetPosY);

        foreach (var fixture in _fixtures)
        {

            /*
            var v = new Vector3(
                targetPosX - fixture.X,
                targetPosY - fixture.Y,
                0f - fixture.Z
            );

            float yawDeg = MathF.Atan2(v.Y, v.X) * 180f / MathF.PI;

            Console.WriteLine(yawDeg);

            float pitchDeg = MathF.Atan2(v.Z, MathF.Sqrt(v.X * v.X + v.Y * v.Y)) * 180f / MathF.PI;

            Console.WriteLine(pitchDeg);

            _ = _dmxControlInstance.UpdateFixture(fixture.Id, yawDeg, pitchDeg);
            */

            _ = _dmxControlInstance.UpdateFixture(fixture.Id, (float)targetPosX, (float)targetPosY);
        }

    }



}
